doctype html
html
  head
    title User Details
    link(rel='stylesheet' type="text/css" href='/css/style.css')
    link(rel="icon" href="/favicon.ico")
  body
    h1 User Details
    p User ID: #{user.userId}
    p Email: #{user.userEmail}
    p Name: #{user.userName}
    a(href='/users') Back to Users List