doctype html
html
  head
    title Users
    link(rel='stylesheet' type="text/css" href='/css/style.css')
    link(rel="icon" href="/favicon.ico")
  body
    h1 Users List
    ul
      each user in users
        li: a(href=`/users/${user.userId}`) #{user.userName}
    a.nav-link(href='/') Go to Home